.Card {
  margin-left: 1vw;
  margin-right: 1vw;
  width: 20vw;
  padding: 1vw;
  height: auto;
  background-color: rgba(2, 2, 57, 0.781);
  border: 5px solid rgba(0, 0, 0, 0.688);
  color:rgba(240, 248, 255, 0.804);
  border-radius: 20px;
  box-shadow: 15px 15px 8px rgba(69, 69, 69, 0.503);
  text-align: center;
}
.hrCardProfile {
  width: 60%;
  height: 0.2vh;
  margin-left: 20%;
  color: black;
  background-color: black;
}
