.Card {
  margin-left: 1vw;
  margin-right: 1vw;
  width: 100%;
  padding: 1vw;
  height: auto;
  background-color: #07070763;
  filter: drop-shadow(5px 5px 4px #ffffff32);
  /*box-shadow: 60px 80px 40px #ffffff32;*/
  border: 5px solid rgba(0, 0, 0, 0.688);
    color: #ffc001;
  border-radius: 20px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.4em;
}
.hrCardProfile {
  width: 60%;
  height: 0.2vh;
  margin-left: 20%;
  color: black;
  background-color: black;
}
